// colores 
$color_principal: black;
$font_color_principal: black;
$font_color_secundary: grey;

//font size

$font_small: 20px;
$font_medium: 30px;
$font-large: 60px;
$font-footer: 1.3rem;
$font-menu: 20px;


//formato imagenes
$imagen_width: 95%;
$imagen_height: auto;





