.encabezado {
   
    display: flex;
    grid-template-columns: 20% 50%;
    background: #f7f5f5; 
    font-weight: bold; 
    padding: 15px; 
    border-top:2px solid #ff0080; 
    border-bottom:2px solid #ff0080;
    justify-content: center;
    

 }

 .lista {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-right: 170px;

}

.Titulo-web {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
     

}

.parrafo-inicio {

    text-align: center;
    overflow: hidden; 
    }

.imagen-inicio { 


    margin: auto auto;
    justify-content: center;
    display: flex;
    height: 300px;
    width: 70%;
   
    }

.logo{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
    align-items: center;
    }

